.cache/
.sbt/
target/
project/target/
project/project/
.bsp/
.idea/
*.iml
*.ipr
*.iws

.classpath
.project
.settings/

*.class
*.jar
*.war
*.zip
*.log

.DS_Store
Thumbs.db

logs/
tmp/

.bsp/
.bloop/
.metals
